body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.main {
  width:960px;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
}

#header {
  background-color:#ffc000;
  height: 100px;
}

#info {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 700;
  font-size:32px;
  color:red;
}